/* ======================
   sub.css
   서브(templates) 페이지 공통 스타일
   ====================== */

@import url("./common.css");

/* ======================
   responsive: sub
   5단계 브레이크포인트별 배경색 변화 데모
   ====================== */

/* small */
@media (min-width:576px) {
    body { background: #DCEEFF; }
}

/* medium */
@media (min-width:768px) {
    body { background: #D7F7F0; }
}

/* large */
@media (min-width:992px) {
    body { background: #EDE7FF; }
}

/* xl(extra large) */
@media (min-width:1200px) {
    body { background: #F1F5F9; }
}

/* xxl */
@media (min-width:1400px) {
    body { background: #FCE7F3; }
}
